@charset "UTF-8";

html {
  --blue: #0000ff;
  --gray: #eeeeee;
  --green: #00ff00;
  --white: #ffffff;
  background-color: var(--gray);
}

body {
  background-color: var(--gray);
  cursor: default;
  font-family: system-ui, arial, sans-serif;
  font-size: 21px;
  letter-spacing: 0.03em;
  line-height: 1.35;
  max-width: 670px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

::selection {
  background-color: var(--white);
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:visited {
  color: var(--blue);
}

a:active {
  color: var(--blue);
}

a:hover {
  color: var(--green);
}

ul {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 1.4em;
  text-indent: -1.4em;
}

li {
  margin-bottom: 0.25em;
}

li:before {
  content: "﹡";
  margin-right: 0.1em;
}

.column-one {
  margin-bottom: 1rem;
  width: 100%;
}

.column-one p {
  margin-bottom: 1rem;
}

.font-small {
  font-size: 14px;
}

.job-title:hover {
  background-color: var(--white);
  cursor: pointer;
}

.city-name:hover {
  background-color: var(--white);
  cursor: pointer;
}

@media only screen and (min-width: 576px) {
  body {
    font-size: 19px;
  }

  ul {
    max-width: 25rem;
  }
}
