@charset "UTF-8";

@font-face {
  font-family: "Gerstner-Programm";
  src: url('Gerstner-Programm/woff2/Gerstner-ProgrammRegular.woff2') format('woff2'),
    url('Gerstner-Programm/woff/Gerstner-ProgrammRegular.woff') format('woff'),
    url('Gerstner-Programm/ttf/Gerstner-ProgrammRegular.ttf') format('truetype')}

html {
  --blue: #0000ff;
  --gray: #eeeeee;
  --green: #00ff00;
  --white: #ffffff;
  --black: #000;
  background-color: var(--gray);
}

body {
  background-color: var(--gray);
  cursor: default;
  font-family: Gerstner-Programm, arial, system-ui, sans-serif;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.35;
  /* max-width: 670px; */
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

/* #title {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
} */

#currentTime {
  float: right;
}

.dark-mode {
  background-color: var(--black);
  color: var(--white);
}

::selection {
  background-color: var(--white);
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:visited {
  color: var(--blue);
}

a:active {
  color: var(--blue);
}

a:hover {
  color: var(--green);
}

ul {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 1.4em;
  text-indent: -1.4em;
}

li {
  margin-bottom: 0.25em;
}

li:before {
  content: "﹡";
  margin-right: 0.1em;
}

.column-one {
  margin-bottom: 1rem;
  max-width: 670px;
}

.column-one p {
  margin-bottom: 1rem;
}

.font-small {
  font-size: 14px;
}

.job-title:hover {
  background-color: var(--white);
  cursor: pointer;
}

.city-name:hover {
  background-color: var(--white);
  cursor: pointer;
}

@media only screen and (min-width: 576px) {
  body {
    font-size: 19px;
  }

  ul {
    max-width: 25rem;
  }
}
